# Final Exam - New York City Taxi Fare Prediction

Course: AP4063

Student Number: 109601003

Name: 林群賀

#### Baseline: 4.03742

## Import the package

In [17]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
from zipfile import ZipFile

## Import the data sets.

In [18]:
data_path = os.getcwd()
train_data_path = data_path + '/data/taxi_fare_train.csv'
test_data_path = data_path + '/data/taxi_fare_test.csv'

df_train = pd.read_csv(train_data_path, nrows=500000)
df_test = pd.read_csv(test_data_path)

In [19]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                500000 non-null  object
 1   fare_amount        500000 non-null  float64
 2   pickup_datetime    500000 non-null  object
 3   pickup_longitude   500000 non-null  float64
 4   pickup_latitude    500000 non-null  float64
 5   dropoff_longitude  499995 non-null  float64
 6   dropoff_latitude   499995 non-null  float64
 7   passenger_count    500000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 30.5+ MB

In [20]:
df_train.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [21]:
train_Y = np.array(df_train['fare_amount'])
ids = df_test['key']

In [22]:
df_train = df_train.drop(['key', 'fare_amount'] , axis=1)
df_test = df_test.drop(['key'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()
df['distance_2D'] = ((df['dropoff_longitude'] - df['pickup_longitude'])**2 + (df['dropoff_latitude'] - df['pickup_latitude'])**2)**0.5
df = df.drop(['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'pickup_datetime'], axis=1)
df.head()

   passenger_count  distance_2D
0                1     0.009436
1                1     0.079696
2                2     0.013674
3                1     0.025340
4                1     0.019470

In [23]:
df['passenger_count'] = df['passenger_count'].fillna(-1)
df['distance_2D'] = df['distance_2D'].fillna(-1)

## Prediction

#### With the Gradient Boosting Machine Model

In [ ]:
from sklearn import datasets, metrics
from sklearn.ensemble import GradientBoostingRegressor

In [24]:
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

reg = GradientBoostingRegressor()
reg.fit(train_X, train_Y)
pred = reg.predict(test_X)

## Output the Results

In [25]:
data_path = os.getcwd()
data_path += "/data/my_result/"
pred = np.array(pred)
sub = pd.DataFrame({'key': ids, 'fare_amount': pred})
sub.to_csv(data_path + 'taxi_1111_finalexam.csv', index=False)